PERSONAL  AI ASSISTANT WORKFLOW using n8n.json
{
  "name": "PERSONAL ASSISTANT WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d6a08637-4f60-4b51-a71d-ac7eb0d911af",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5d652d81-1253-40db-836f-f568d98880eb",
      "name": "Webhook",
      "webhookId": "d6a08637-4f60-4b51-a71d-ac7eb0d911af"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant with access to tools.\n\nRULES:\n\n1. If the user asks for any information (news, facts, data, rates, current info), you MUST use the Google Search tool.\n2. If the user asks about schedule, meetings, or events, you MUST use Calendar tools.\n3. NEVER answer from your own knowledge if a tool is available.\n4. ALWAYS call the appropriate tool first before answering.\n\nExamples:\n\nUser: What is INR to USD rate?\n→ Use Google Search tool\n\nUser: Schedule meeting tomorrow at 5 PM\n→ Use Create Event tool\n\nUser: What are my meetings today?\n→ Use Get Events tool\n\n{{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "8243abd8-a2fc-4170-a516-4abd6d52428b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "abc12345",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "d151de52-38d9-4376-b47d-6fbae24c8a28",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        224
      ],
      "id": "f403d0cb-1e2e-4e36-85ae-3ff5e4250581",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ORCrh2DQ0yxQopdV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "619626e1-8b71-4b63-beb2-05ba1c9477c2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "#CAPABILITY TO ADD\n\n1. Websearch \n2. Calender Access\n3. Gmail Access\n4. Expense Tracking\n5. Nodes Creation\n5. Task Creation and Task Deletion"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        112
      ],
      "typeVersion": 1,
      "id": "68b1bad5-07ba-4541-934a-91dc7f556e70",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "##Google Search\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        192
      ],
      "typeVersion": 1,
      "id": "85c7ac1f-10f2-48e6-a81c-34b8986645e5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gauravbisht2803@gmail.com",
          "mode": "list",
          "cachedResultName": "gauravbisht2803@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', `DEscription of the event (Defined by model )`, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        656,
        208
      ],
      "id": "d02179fb-787e-4430-9ca1-0409421c20bf",
      "name": "Create event in  Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4RESnsGYoUSegDvX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "##CALENDER TOOLS",
        "height": 208,
        "width": 560,
        "color": "#72366B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        176
      ],
      "typeVersion": 1,
      "id": "62fef4af-460b-4bdc-955f-2072c3f05c77",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "en-gb.indian#holiday@group.v.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Holidays in India"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1008,
        208
      ],
      "id": "05ed081c-155a-4645-b2ac-e9dd58559e8b",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4RESnsGYoUSegDvX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "gauravbisht2803@gmail.com",
          "mode": "list",
          "cachedResultName": "gauravbisht2803@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        208
      ],
      "id": "5b2cbce3-dc50-4279-8983-f6dc0f8100ae",
      "name": "Get single event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4RESnsGYoUSegDvX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "gl": "in"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        400,
        208
      ],
      "id": "58ab16f1-7ff2-4bf8-a9f1-9c0c71127fb4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "JwHei3QrBKgFWZh6",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "27d00db8-2e1c-48b2-a3ca-fd23a5bb943f",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "fd4GWa988I19Y0bY",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        160,
        416
      ],
      "id": "f657cef9-1085-49f7-b4cf-1be0343f7c7f",
      "name": "Get a single message in Gmail",
      "webhookId": "1e0be21a-f30f-4158-8ace-0021b4bcf7e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkexiLIwbJCBmfec",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "##GMAIL TOOOLS",
        "height": 192,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        400
      ],
      "typeVersion": 1,
      "id": "9d327a4a-9ddf-4649-841e-a568bc7fc090",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        304,
        416
      ],
      "id": "51d4b2d6-f889-470f-a046-677cf24e9aee",
      "name": "Get multiple  message in Gmail",
      "webhookId": "1e0be21a-f30f-4158-8ace-0021b4bcf7e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkexiLIwbJCBmfec",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        464,
        432
      ],
      "id": "38d4358e-755a-4a17-9653-1b29f9d8dd7b",
      "name": "Send email  in Gmail",
      "webhookId": "1e0be21a-f30f-4158-8ace-0021b4bcf7e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkexiLIwbJCBmfec",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "##EXPENSE TRACKING",
        "height": 208,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        400
      ],
      "typeVersion": 1,
      "id": "f43912a5-b184-49ab-b705-c90bd8fabaaf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DXf-uNFqVwqYWieUSV9lrHqBZGT73LJh9ypTSK5AOR4",
          "mode": "list",
          "cachedResultName": "Finance Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DXf-uNFqVwqYWieUSV9lrHqBZGT73LJh9ypTSK5AOR4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DXf-uNFqVwqYWieUSV9lrHqBZGT73LJh9ypTSK5AOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_', ``, 'string') }}",
            "Expense Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Expense_Category', ``, 'string') }}",
            "Expense": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Expense', ``, 'string') }}",
            "REmarks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('REmarks', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date ",
              "displayName": "Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense Category",
              "displayName": "Expense Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense",
              "displayName": "Expense",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REmarks",
              "displayName": "REmarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        816,
        448
      ],
      "id": "90c5d625-ccf7-49d7-b2a1-e8d6d3d2d01c",
      "name": "Add Expense  in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4KpWAC3h3pB4brXt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DXf-uNFqVwqYWieUSV9lrHqBZGT73LJh9ypTSK5AOR4",
          "mode": "list",
          "cachedResultName": "Finance Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DXf-uNFqVwqYWieUSV9lrHqBZGT73LJh9ypTSK5AOR4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DXf-uNFqVwqYWieUSV9lrHqBZGT73LJh9ypTSK5AOR4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        448
      ],
      "id": "0f4f8f8c-2241-4532-8159-14db39ef2bb9",
      "name": "Get expenses in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4KpWAC3h3pB4brXt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        656,
        464
      ],
      "id": "9d062a84-4992-4e89-8977-eb47bd434032",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "##NOTES TOOLS",
        "height": 208,
        "width": 496,
        "color": "#477B64"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        400
      ],
      "typeVersion": 1,
      "id": "239d7f4a-2069-4e7d-a086-29910f17a664",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "folderId": "1LU78mfhWZyna5MUyYyHtDuqdBLRzJYRR",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1104,
        448
      ],
      "id": "6ffff99e-44e8-41bc-ab3d-4c1190cb310e",
      "name": "Create notes in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "pg52JJaz3iUi4djI",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1264,
        448
      ],
      "id": "df3ceebd-82c4-429d-9292-b4f2ad905b41",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "pg52JJaz3iUi4djI",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1424,
        448
      ],
      "id": "23b49330-e51c-465f-ad3a-cb7f195dff19",
      "name": "Update a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "pg52JJaz3iUi4djI",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "#TASK TOOLS\n",
        "height": 208,
        "width": 368,
        "color": "#516AB3"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        400
      ],
      "typeVersion": 1,
      "id": "e0d0b399-3798-46b9-9402-7d0655997f34",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "task": "={{ $('Webhook').item.json.body.message }}",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1616,
        432
      ],
      "id": "d3f3775b-b9e0-48c1-a473-088451e1beaa",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6jtobL4PqpJBlbIj",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "task": "={{ $('Webhook').item.json.body.message }}",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1776,
        432
      ],
      "id": "7a2cce5a-9803-444a-9dff-669cdac84f88",
      "name": "Get a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "6jtobL4PqpJBlbIj",
          "name": "Google Tasks account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "61",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "Schedule am 10AM meeting for me tommorow morning for interview for a job"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/d6a08637-4f60-4b51-a71d-ac7eb0d911af",
          "executionMode": "test"
        }
      }
    ],
    "Respond to Webhook": [
      {
        "json": {
          "output": "Here is the Google Calendar link for your **\"Team Sync\"** meeting:\n\n[**Team Sync Event Link**](https://www.google.com/calendar/event?eid=Y3FpbjcyZDM1YnFib2tsMWJ0ajltcWVjMGcgZ2F1cmF2YmlzaHQyODAzQG0)"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create event in  Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get single event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a single message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get multiple  message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send email  in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Expense  in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get expenses in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create notes in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b75e354f-9e73-41c9-b70b-e7d4e0cf14bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9e42be005f1625808ea53d56dde8d7e3cfb253ee14ffbe22862582b722577b3"
  },
  "id": "qOdWKvIW7DYYui2R",
  "tags": []
}